@page
@model MyRestaurant.Pages.Admin.AdminDashModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <a asp-page="/Admin/CreateProduct" id="add-button">Add Product</a>
</div>
<div>
    <div class="row" style="overflow-x: auto;">
        <table id="product-table">
            <thead>
                <tr>
                    @foreach (var item in Model.Product)
                    {
                        <th>@Html.DisplayNameFor(model => item.ProductId)</th>
                        <th>@Html.DisplayNameFor(model => item.Category)</th>
                        <th>@Html.DisplayNameFor(model => item.Name)</th>
                        <th>@Html.DisplayNameFor(model => item.Description)</th>
                        <th>@Html.DisplayNameFor(model => item.Price)</th>
                        <th>@Html.DisplayNameFor(model => item.ImagePath)</th>
                        <th></th>
                    }

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Product)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Category</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>
                            <img src="/img/@item.ImagePath"
                                 height="40" width="40"
                                 asp-append-version="true" />
                        </td>
                        <td class="grid">
                            <a asp-page="/Admin/EditProduct" asp-route-ID="@item.ProductId" id="edit-button">Edit</a>

                            <a href="@Url.Action("Details", new { @item.ProductId })" id="details-button">Details</a>
                            
                            <a href="Delete/@item.ProductId" id="delete-button">Delete</a>
                            <a asp-page-handler="Delete" asp-route-id="@item.ProductId" onclick="return confirm('Are you sure you want to delete?')" id="delete-button">Delete</a>
</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

